# Ex2 - Getting and Knowing your Data

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
print("test if this works")

test if this works

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [ ]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [ ]:
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"
chipo = pd.read_csv(url, sep='\t')

In [ ]:
chipo.info()

# Note that item_price is an object/string, not a float

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

### Step 4. See the first 10 entries

In [ ]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

### Step 5. What is the number of observations in the dataset?

In [ ]:
# Solution 1
chipo.shape[0]

4622

In [ ]:
# Solution 2

len(chipo)

4622

### Step 6. What is the number of columns in the dataset?

In [ ]:
# Solution 1

chipo.shape[1]

5

In [ ]:
len(chipo.columns)

5

### Step 7. Print the name of all the columns.

In [ ]:
print(chipo.columns)

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [ ]:
print(*chipo.columns, sep='\n')

order_id
quantity
item_name
choice_description
item_price

### Step 8. How is the dataset indexed?

In [ ]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

Sequentially, with a RangeIndex

### Step 9. Which was the most-ordered item?

In [ ]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [ ]:
item_quantity = chipo.groupby('item_name').quantity.sum().sort_values(ascending=False)
item_quantity[:10]

item_name
Chicken Bowl                    761
Chicken Burrito                 591
Chips and Guacamole             506
Steak Burrito                   386
Canned Soft Drink               351
Chips                           230
Steak Bowl                      221
Bottled Water                   211
Chips and Fresh Tomato Salsa    130
Canned Soda                     126
Name: quantity, dtype: int64

### Step 10. For the most-ordered item, how many items were ordered?

In [ ]:
item_quantity[0]

761

In [ ]:
item_quantity.iloc[0]

761

### Step 11. What was the most ordered item in the choice_description column?

In [ ]:
choice_desc_quantity = chipo.groupby('choice_description').quantity.sum().sort_values(ascending=False)
choice_desc_quantity[:10]

choice_description
[Diet Coke]                                                                          159
[Coke]                                                                               143
[Sprite]                                                                              89
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Lettuce]]                49
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream]]                         42
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Guacamole, Lettuce]]     40
[Lemonade]                                                                            36
[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice, Cheese, Sour Cream]]                  36
[Coca Cola]                                                                           32
[Fresh Tomato Salsa, [Rice, Cheese, Sour Cream, Lettuce]]                             30
Name: quantity, dtype: int64

### Step 12. How many items were orderd in total?

In [ ]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [ ]:
# If they mean, how many items were ordered, I'd think just summing quantity would suffice

chipo.quantity.sum()

4972

In [ ]:
# If they mean 'how many unique items were ordered'...

chipo.item_name.nunique()

50

In [39]:
chipo.item_name.value_counts().shape

(50,)

### Step 13. Turn the item price into a float

In [40]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [49]:
chipo = \
(
    chipo.assign(
    item_price = lambda x: x.item_price.str.replace('$','').astype(float)
    )
)

<ipython-input-49-8315709b6c6d>:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  item_price = lambda x: x.item_price.str.replace('$','').astype(float)

In [51]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   float64
dtypes: float64(1), int64(2), object(2)
memory usage: 180.7+ KB

#### Step 13.a. Check the item price type

In [53]:
chipo.item_price.dtype

dtype('float64')

#### Step 13.b. Create a lambda function and change the type of item price

In [ ]:
# taken care of above

#### Step 13.c. Check the item price type

In [ ]:
# taken care of above

### Step 14. How much was the revenue for the period in the dataset?

In [54]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98

In [59]:
chipo =\
(
    chipo.assign(
        item_revenue = lambda x: x.quantity * x.item_price
    )
    
)

chipo.item_revenue.sum()

39237.02

### Step 15. How many orders were made in the period?

In [60]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price,item_revenue
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,2.39
1,1,1,Izze,[Clementine],3.39,3.39
2,1,1,Nantucket Nectar,[Apple],3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,33.96

In [63]:
chipo.order_id.nunique()

1834

### Step 16. What is the average revenue amount per order?

In [66]:
# Solution 1

chipo.groupby('order_id').item_revenue.sum().mean()

21.39423118865867

In [68]:
# Solution 2

chipo.item_revenue.sum()/chipo.order_id.nunique()

21.39423118865867

### Step 17. How many different items are sold?

In [69]:
chipo.item_name.nunique()

50